@model HaberDetayViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container-fluid mt-5 mb-3 pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    @* <div class="section-title border-right-0 mb-0" style="width: 180px;">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tranding</h4>
                    </div>
                    <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center bg-white border border-left-0 owl-loaded owl-drag" style="width: calc(100% - 180px); padding-right: 100px;">
                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2529px, 0px, 0px); transition: all 2s ease 0s; width: 5058px;"><div class="owl-item cloned" style="width: 843px;"><div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt, sed faucibus nisl sodales</a></div></div><div class="owl-item cloned" style="width: 843px;"><div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt, sed faucibus nisl sodales</a></div></div><div class="owl-item" style="width: 843px;"><div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt, sed faucibus nisl sodales</a></div></div><div class="owl-item active" style="width: 843px;"><div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt, sed faucibus nisl sodales</a></div></div><div class="owl-item cloned" style="width: 843px;"><div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt, sed faucibus nisl sodales</a></div></div><div class="owl-item cloned" style="width: 843px;"><div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt, sed faucibus nisl sodales</a></div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots disabled"></div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="position-relative mb-3">
                    <img class="img-fluid w-100" src="@Model.HaberContent.Image" alt="@Model.HaberContent.Title" style="object-fit: cover;">
                    <div class="bg-white border border-top-0 p-4">
                        <div class="mb-3">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" title="@Model.HaberContent.Source" target="_blank" href="@Model.HaberContent.Url">@Model.HaberContent.Source</a>
                            <a class="text-body" title="@Model.HaberContent.Source" target="_blank" href="@Model.HaberContent.Url">@Model.HaberContent.NewsDate</a>
                        </div>
                        <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">@Model.HaberContent.Title</h1>
                        <p>
                            @Model.HaberContent.Description
                        </p>
                        <div class="media">
                            <div class="media-body">
                                <a class="text-secondary font-weight-bold" target="_blank" title="@Model.HaberContent.Title" href="@Model.HaberContent.Url">Haber Kaynağından Devamını Oku</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                @await Component.InvokeAsync("SidebarCumhuriyet")
                @await Component.InvokeAsync("SidebarHurriyet")
                @await Component.InvokeAsync("SidebarHaberturk")
            </div>
        </div>
    </div>
</div>

