@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 px-0">
            <div class="owl-carousel main-carousel position-relative">
                @foreach (var item in Model.MainSlider3)
                {
                    <div class="position-relative overflow-hidden" style="height: 500px;">
                        <img class="img-fluid h-100" src="@item.Image" style="object-fit: cover;" alt="@item.Description">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" asp-controller="HaberDetay" asp-action="Index" asp-route-id="@item.Id" title="@item.Source">@item.Source</a>
                                <a class="text-white" asp-controller="HaberDetay" asp-action="Index" asp-route-id="@item.Id" title="@item.NewsDate">@item.NewsDate</a>
                            </div>
                            <a class="h2 m-0 text-white text-uppercase font-weight-bold" asp-controller="HaberDetay" asp-action="Index" asp-route-id="@item.Id" title="@item.Title">@item.Title</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-5 px-0">
            <div class="row mx-0">
                @foreach (var item in Model.FourNewsSliderRight)
                {
                    <div class="col-md-6 px-0">
                        <div class="position-relative overflow-hidden" style="height: 250px;">
                            <img class="img-fluid w-100 h-100" src="@item.Image" style="object-fit: cover;" alt="@item.Description">
                            <div class="overlay">
                                <div class="mb-2">
                                    <a title="@item.Source" asp-controller="HaberDetay" asp-action="Index" asp-route-id="@item.Id" class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" >@item.Source</a>
                                    <a title="@item.NewsDate" class="text-white" asp-controller="HaberDetay" asp-action="Index" asp-route-id="@item.Id"><small>@item.NewsDate</small></a>
                                </div>
                                <a title="@item.Title" target="_blank" class="h6 m-0 text-white text-uppercase font-weight-semi-bold" asp-controller="HaberDetay" asp-action="Index" asp-route-id="@item.Id">@item.Title</a>
                            </div>
                        </div>
                    </div>
                }                
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("BreakingNewsBand")

@await Component.InvokeAsync("FeaturedNewsSlider")




<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
    <div class="row">

        @await Component.InvokeAsync("TwoBlocksNews")

    <div class="col-lg-4">
        <!-- Social Follow Start -->
       @* <div class="mb-3">
            <div class="section-title mb-0">
                <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
            </div>
            <div class="bg-white border border-top-0 p-3">
                <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                    <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                    <span class="font-weight-medium">12,345 Fans</span>
                </a>
                <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                    <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                    <span class="font-weight-medium">12,345 Followers</span>
                </a>
                <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                    <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                    <span class="font-weight-medium">12,345 Connects</span>
                </a>
                <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                    <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                    <span class="font-weight-medium">12,345 Followers</span>
                </a>
                <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                    <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                    <span class="font-weight-medium">12,345 Subscribers</span>
                </a>
                <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                    <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                    <span class="font-weight-medium">12,345 Followers</span>
                </a>
            </div>
        </div>*@
        <!-- Social Follow End -->
        <!-- Ads Start -->
      @*  <div class="mb-3">
            <div class="section-title mb-0">
                <h4 class="m-0 text-uppercase font-weight-bold">Advertisement</h4>
            </div>
            <div class="bg-white text-center border border-top-0 p-3">
                <a href=""><img class="img-fluid" src="img/news-800x500-2.jpg" alt=""></a>
            </div>
        </div>*@
        <!-- Ads End -->
        <!-- Popular News Start -->
        @await Component.InvokeAsync("SidebarCumhuriyet")
        @await Component.InvokeAsync("SidebarHurriyet")
        @await Component.InvokeAsync("SidebarHaberturk")
        <!-- Popular News End -->
        <!-- Newsletter Start -->
       @* <div class="mb-3">
            <div class="section-title mb-0">
                <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
            </div>
            <div class="bg-white text-center border border-top-0 p-3">
                <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                <div class="input-group mb-2" style="width: 100%;">
                    <input type="text" class="form-control form-control-lg" placeholder="Your Email">
                    <div class="input-group-append">
                        <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                    </div>
                </div>
                <small>Lorem ipsum dolor sit amet elit</small>
            </div>
        </div>*@
        <!-- Newsletter End -->
        <!-- Tags Start -->
        @*<div class="mb-3">
            <div class="section-title mb-0">
                <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
            </div>
            <div class="bg-white border border-top-0 p-3">
                <div class="d-flex flex-wrap m-n1">
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Politics</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Corporate</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Health</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Education</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Science</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
                    <a href="" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
                </div>
            </div>
        </div>*@
        <!-- Tags End -->
    </div>

    </div>
    </div>
</div>
<!-- News With Sidebar End -->

