@model FooterViewModel
<div class="container-fluid bg-dark pt-5 px-sm-3 px-md-5 mt-5">
    <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">İletişim</h5>
            <p class="font-weight-medium"><i class="fa fa-envelope mr-2"></i>iletisim@erkanhaberajansi.com</p>
            <h6 class="mt-4 mb-3 text-white text-uppercase font-weight-bold">Sosyal Medya</h6>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="#"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-lg btn-secondary btn-lg-square" href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Son Haberler</h5>
            @foreach (var item in Model.Last3News)
            {
                <div class="mb-3">
                    <div class="mb-2">
                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" title="@item.Title" href="@item.Url">@item.Source</a>
                        <a class="text-body" title="@item.Title" href="@item.Url"><small>@item.NewsDate</small></a>
                    </div>
                    <a class="small text-body text-uppercase font-weight-medium" target="_blank" title="@item.Title" href="@item.Url">@item.Title</a>
                </div>
            }
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Haber Kanalları</h5>
            <div class="m-n1">
                @foreach (var item in Model.NewsSourceList)
                {
                    <a asp-action="Index" asp-controller="KategoriDetay" asp-route-categoryname="@item.Source" title="@item.Source" class="btn btn-sm btn-secondary m-1">@item.Source</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-4 px-sm-3 px-md-5" style="background: #111111;">
    <p class="m-0 text-center">
        @DateTime.Now.Year - &copy; - <a asp-controller="Home" asp-action="Index" title="Erkan Haber Ajansı">erkanhaberajansi.com</a>
    </p>
</div>